.page-header {
    background: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: var(--black);
    font-weight: bold;
}

.page-header button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black);
}

.logo-top {
    width: 40px;
    height: 40px;
}

.footer-menu {
    display: none;
    /* Removido */
}