body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #7a7f8c;
    color: white;
}

.page-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--yellow);
    color: var(--black);
    gap: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.page-header button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.info-container {
    padding: 1rem;
    background: #666c76;
    border-bottom: 2px solid #444;
}

.servicos-oferecidos {
    padding: 1rem;
}

.servicos-oferecidos h2 {
    margin-bottom: 1rem;
    color: white;
}

.servicos-oferecidos ul {
    list-style: none;
    padding-left: 0;
}

.servicos-oferecidos li {
    background-color: white;
    color: black;
    margin-bottom: 0.5rem;
    padding: 0.7rem;
    border-radius: 10px;
    font-weight: 500;
}

.botoes {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
}

.agendar-btn {
    background-color: var(--yellow);
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1rem;
}